.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero-about {
  width: 100%;
  height: 70vh;
  position: relative;
}

.hero-about h1 {
  padding-top: 4rem !important;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 1000;
  background: black;
  -webkit-background-clip: text;
  -webkit-animation-fill-color: transparent;
}

.hero-text p {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  padding: 0.5rem 0 2rem 0;
}

.hero-text .show {
  text-decoration: none;
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: medium;
  font-weight: bold;
  letter-spacing: 2px;
  color: blanchedalmond;
}

.hero-text .hide {
  display: none;
}

@media screen and (max-width: 850px) {
  .hero-text h1 {
    font-size: 2rem;
    padding: 10px 20px;
  }

  .hero-text p {
    font-size: 1rem;
    padding: 0 0 2rem 0;
  }

  .hero-text .show {
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
  }
}
