.service-card {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.2s;
  width: 300px;
}

.service-card:hover {
  transform: scale(1.05);
}

.service-icon {
  font-size: 2rem;
  color: orange;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.5rem;
  color: #333;
}

p {
  font-size: 1rem;
  color: #555;
}
